<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="2" parallel="tests" >
    <test name="ChromeTest">
        <parameter name="browser" value="Chrome" />
        <classes>
            <class name="tests.GoogleSearchResultsTest">
            </class>
            <class name="tests.wikipedia.WikipediaLinkTest">
            </class>
            <class name="tests.wikipedia.WikipediaImageTest">
            </class>
            <class name="tests.TutorialspointSearchResultsTest">
            </class>
            <class name="tests.jquery.JqueryDroppableTest">
            </class>
            <class name="tests.jquery.JqueryDroppableTextChangeTest">
            </class>
            <class name="tests.NavigationTest">
            </class>
        </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="Firefox" />
        <classes>
            <class name="tests.GoogleSearchResultsTest">
            </class>
            <class name="tests.wikipedia.WikipediaLinkTest">
            </class>
            <class name="tests.wikipedia.WikipediaImageTest">
            </class>
            <class name="tests.TutorialspointSearchResultsTest">
            </class>
            <class name="tests.jquery.JqueryDroppableTest">
            </class>
            <class name="tests.jquery.JqueryDroppableTextChangeTest">
            </class>
            <class name="tests.NavigationTest">
            </class>
        </classes>
    </test>
    <test name="EdgeTest">
        <parameter name="browser" value="Edge" />
        <classes>
            <class name="tests.GoogleSearchResultsTest">
            </class>
            <class name="tests.wikipedia.WikipediaLinkTest">
            </class>
            <class name="tests.wikipedia.WikipediaImageTest">
            </class>
            <class name="tests.TutorialspointSearchResultsTest">
            </class>
            <class name="tests.jquery.JqueryDroppableTest">
            </class>
            <class name="tests.jquery.JqueryDroppableTextChangeTest">
            </class>
            <class name="tests.NavigationTest">
            </class>
        </classes>
    </test>
</suite>